.workPageSection {

    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto 1vh;
    box-sizing: border-box;

}


.titleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}

.return {
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
}

.currentWorkTitle {

    margin-bottom: 1vh;
}

.workDescription {
    width: 80%;
    margin: 2vh auto 2vh;
    text-align: center;
    font-size: 1.5em;
}

.workSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 700px;
    margin: auto;
}

.sliderImg {
    width: 70%;
    height: 100%;
    margin: auto;
    margin: 1vh auto 1vh;
    border-radius: 30px;
    border: solid 1px black;
    object-fit: cover;
}

.leftChevron {
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: rotate(90deg);
}

.counter {
    width: 5%;
    display: flex;
    margin: auto;
    font-size: 1.5em;
}


.rightChevron {
    position: absolute;
    top: 50%;
    right: 10vw;
    transform: rotate(-90deg);
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 220px;
    font-size: 1.5em;
    color: black;
    background-color: white;
    border: solid 2px black;
    border-radius: 30px;
    margin: 25px auto;
    cursor: pointer;
    gap: 10px;
    transition: all 0.2s ease;
}

.fa-globe {
    font-size: 1em;
}

.webLink {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
}

.linkBtn:hover>.webLink {
    color: white;
    background-color: black;
    transition: all 0.2s ease;
}

.linkBtn:hover {
    color: white;
    background-color: black;
    transition: all 0.2s ease;

}

.active {
    color: #02145D;
    letter-spacing: 2px;
}

.hidden {
    display: none;
}



.workSkill {
    font-size: 1.5em;
    margin: 0px 15px;
}

@media (min-width: 668px) and (max-width:1450px) {
    .sliderImg {
        width: 80%;

    }

    .rightChevron {
        right: 3vw;
    }

    .leftChevron {
        left: 3vw;
    }
}

@media (min-width: 668px) and (max-width:1000px) {
    .workHeader {
        background: #0082c8;
    }

    .navItem {
        font-size: 1.2em;
    }
}

@media (max-width: 770px) {
    .workSkillsList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .workSkillsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media (max-width: 667.99px) {
    .workPageSection {
        margin-top: 60px;
        height: fit-content;
        align-items: center;
    }

    .workHeader {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
    }

    .workNavList {
        display: none;
    }


    .burgerWorkNavList {
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: 30px;
        align-items: center;
        height: fit-content;
        background-color: black;
        border: solid 2px white;
        z-index: 1;
        position: relative;
        top: 0px;
        transition: all 0.3s ease;
    }

    .active {
        color: white;
        text-decoration: underline;
    }

    .titleContainer {
        margin-top: 0px;
        flex-direction: column;
    }

    .currentWorkTitle {
        margin-top: 5px;
    }



    .workSlider {
        height: 500px;
        width: 95%;
    }

    .sliderImg {
        width: 100%;

    }



    .leftChevron {
        display: flex;
        top: 101%;

    }

    .rightChevron {
        display: flex;
        top: 101%;

    }

    .counter {

        position: relative;
        top: 7px;
        width: fit-content;
    }
}