.aboutSection {
    position: absolute;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}

.sideText {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.introText {
    margin: 5vh auto;
    text-align: center;
}

.aboutContent {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    gap: 1%;
}

h1 {
    height: 10%;
    width: 100%;
    margin: 0px auto 0px;
    text-align: center;
}

@media (min-width: 668px) and (max-width:1000px) {

    h1 {
        font-size: 2em;
        margin-bottom: 2%;
    }
}

@media (max-width: 667.99px) {
    .aboutSection {
        width: 100%;
        height: 600px;
    }

    h1 {
        font-size: 2em;
        margin: 60px auto 0px;
        padding-bottom: 10px;
    }

    .sideText {
        width: 100%;
    }


}

@media (max-width: 548px) {
    h1 {
        margin-bottom: 0px;
    }
}