.toolsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

@media (max-width: 667.99px) {
    .toolsWrapper {
        flex-wrap: wrap;
        flex-shrink: none;
    }
}