.introducing {

    position: absolute;
    top: 190vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ntrduceTitle {
    height: 10%;
    box-sizing: border-box;
}

.profileContainer {
    width: 80%;
    height: 45%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;

}

.profile {
    height: 40vh;
    width: fit-content;
    object-fit: contain;
    border-radius: 30px;
    -webkit-box-shadow: -34px 22px 0px 2px rgba(2, 20, 93, 1);
    box-shadow: -40px 35px 0px 2px rgba(2, 20, 93, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
    margin-left: auto;
    margin-right: 10px;

}




.introduceText {

    font-size: 1.3em;
    text-align: center;
    margin-left: 30px;
    width: 100%;
}

.contactSection {
    width: 100vw;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.contactContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.emailLink {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.linkLogo {
    height: 100px;
    width: 100px;
    margin: 10px 40px;
    border: solid 1px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContacts {
    height: 80%;
    width: 80%;
    border-radius: 50%;
}