.introducing {

    position: absolute;
    top: 190vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.introduceWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.intrduceTitle {
    height: 10%;
    box-sizing: border-box;
    margin-top: -50px;
}

.profileContainer {
    width: 70%;

    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;



}

.profile {
    height: 40vh;
    width: fit-content;
    object-fit: contain;
    border-radius: 30px;
    -webkit-box-shadow: -34px 22px 0px 2px rgba(2, 20, 93, 1);
    box-shadow: -40px 35px 0px 2px rgba(2, 20, 93, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
    margin-left: 5%;
    margin-right: 0px;

}




.introduceText {

    font-size: 1.3em;
    text-align: center;
    margin-left: 30px;
    width: 100%;
}


.tools {
    font-size: 1.3em;
}

.iconsContainer {
    display: flex;
    border: solid 1px black;
    width: 100%;
    height: auto;
}

.contactSection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    bottom: 30px;
}

.contactTitle {
    margin-top: 2%;
}

.contactContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.contactText {
    font-size: 1.5em;
    margin-right: 20px;
}

.emailLink {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.linkLogo {
    height: 60px;
    width: 60px;
    margin: 10px 40px;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.networkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkLogo:hover {
    background-color: rgba(2, 20, 93, 1);
    transition: all 0.2s ease;
}

.linkLogo:hover>i {
    color: white;
    transition: all 0.2s ease;
}

.fa-x-twitter,
.fa-linkedin-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    font-size: 3em;
    text-align: center;
    transition: all 0.2s ease;
}

.networkContainer {
    display: flex;
    width: fit-content;
}

.logoContacts {
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 667.99px) {
    .introducing {
        top: 2830px;
        height: 1000px;
        justify-content: flex-start;

    }

    .introduceWrapper {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .profile {
        box-shadow: none;
    }

    .profileContainer {
        width: 90%;
    }

    .intrduceTitle {
        margin: 25px;
    }

    .introduceText {
        margin: 25px auto;
        font-size: 1.2em;
    }

    .contactSection {
        position: absolute;
        top: 980px;

    }

    .contactTitle {
        margin: 35px auto 10px;
    }

    .contactContent {
        width: 90%;
    }

    .contactText {
        font-size: 1.3em;
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .networkWrapper {
        flex-direction: column;
    }

    .networkContainer {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .contactSection {
        top: 1000px;
    }
}

@media (max-width: 490px) {
    .contactSection {
        top: 1150px;
    }
}



@media (max-width: 394px) {
    .contactSection {
        top: 1100px;
    }
}