header {

    /* fallback for old browsers */

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02145D, #0082c8, #0082c8, #02145D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    display: flex;
    border-bottom: solid 2px white;

    height: 10vh;
    width: 100vw;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    padding: 0px 5%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.logoBox {
    height: 30px;
    width: 60px;
    margin: 10px;
    text-align: center;
    border: solid 1px black;

}

ul {
    padding: 0px;
    display: flex;
    gap: 40px;
}

.gitLogo {
    position: absolute;
    right: 5px;
    top: 9px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid 2px white;
}