header {

    /* fallback for old browsers */

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02145D, #0082c8, #0082c8, #02145D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    display: flex;
    border-bottom: solid 2px white;

    height: 10vh;
    width: 100vw;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    padding: 0px 5%;
    position: fixed;
    top: 0px;
    z-index: 2;
}


ul {
    padding: 0px;
    display: flex;
    gap: 40px;
}

.gitLogo {
    position: absolute;
    right: 15px;
    top: 3vh;
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    border: solid 2px white;
}

.mailLogo {
    position: absolute;
    left: 15px;
    top: 3vh;
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    border: solid 2px white;
    color: white;
    text-decoration: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-envelope {
    font-size: 3em;
    text-align: center;
    margin-right: 1px;
}

.navBurger {
    display: none;
}

.burgerLine {
    display: none;
}

.hiddenNav {

    display: none;
    transition: all 0.3s ease
}

.responsiveNav {
    flex-direction: column;
    width: 100vw;
    margin: auto;
    padding: 30px;
    align-items: center;
    height: fit-content;
    background-color: black;
    border: solid 2px white;
    border-radius: 30px;
    z-index: 1;
    position: relative;
    top: 81px;
    transition: all 0.3s ease;
}

.fa-xmark {
    color: white;
    position: absolute;
    font-size: 1.1em;
    top: 10px;
    right: 40px;
    cursor: pointer;
    display: none;
}

.burgerLink {
    color: white;
}

@media (max-width: 667.99px) {
    header {
        height: 60px;
    }

    .fa-xmark {
        display: flex;
    }

    .navList {
        gap: 20px;
    }

    .gitLogo,
    .mailLogo {
        height: 40px;
        width: 40px;
        font-size: 0.5em;
    }

    .navBurger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .burgerLine,
    .burgerLine::before,
    .burgerLine::after {
        display: block;
        min-width: 40px;
        width: 40px;
        height: 3px;
        position: relative;
        background-color: white;
        border-radius: 5px;
    }

    .burgerLine::before,
    .burgerLine::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burgerLine::before {
        transform: translateY(-12px);
    }


    .burgerLine::after {
        transform: translateY(12px);
    }


    .navList {
        display: none;
    }
}