.roundIconWrapper {

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: solid 1px black;

}

.roundIcon {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

@media (max-width: 667.99px) {
    .roundIconWrapper {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 667.99px) {
    .roundIconWrapper {
        height: 50px;
        width: 50px;
    }
}